<div class="static-content-div">
  <h1>Item 管理ページ</h1>
  <h3><%= @thing_type_name%></h3>
  <div class="static_pages-div-main">
  <%= render 'static_pages/narrow_index' %>
    <% if(@things.any?)%>
      <div class="home-things-div">
        <%= render @things %>
        <%= will_paginate @things, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
      </div>
    <%else%>
      <div class="no-item-index-div">
        <h3>アイテムを登録しよう！</h3>
      </div>
    <%end%>
  </div>
</div>