<h1>Sample App</h1>

<p><%= @user.name %>様</p>

<p>
下記のリンクをクリックしてください
</p>

<%= link_to "Activate", "http://ozoz.wjg.jp/account_activation/#{@user.activation_token}/edit?email=#{CGI.escape(@user.email)}" %>
