<h1>パスワードのリセット</h1>
<p><%= @user.user_name%>様<p>
<p>パスワードをリセットするには、以下のリンクをクリックしてください：</p>

<%= link_to "Reset password", "https://ozoz.wjg.jp/password_resets/#{@user.reset_token}/edit?email=#{CGI.escape(@user.email)}" %>


<p>このリンクは30分で期限切れになります。</p>

<p>
パスワードのリセットをリクエストしていない場合は、このメールを無視してください。
</p>
