<table border="1">
<tr>
  <th>
    タイトル
  </th>
  <td>
    <span class="content"><%= link_to thing.thing_name, thing_path(thing) %></span>
  </td>
</tr>

<tr>
  <th>
    画像
  </th>
  <td>
      <% if thing.thingImage.attached? %>
        <%= image_tag thing.display_image if thing.thingImage.attached? %>
      <% else%>
        なし
      <% end %>
  </td>
</tr>
</table>
<br>