<% if logged_in? %>
  <h1>いいね一覧ページ</h1>

    <% if(@things.any?)%>
    <div class="show-things-div">
      <%= render @things %>
    </div>
    <% else%>
    <h3>いいねをした投稿はありません</h3>
    <%end%>
  <% else %>
  <h1>homeページ</h1>
<%end%>