<% if logged_in? %>

<div id="con" class="container" id="js-continer">
  <h1>いいね一覧ページ</h1>

    <% if(@things.any?)%>
    <div class="home-things-div">
      <%= render @things %>
    </div>
    <% else%>
    <h3>ユーザーをフォローしてみよう！！</h3>
    <%end%>
  <% else %>
  <h1>homeページ</h1>
<%end%>