<% @user ||= current_user %> <!-- @userがあれば@user,なければ@userにcurrent_userを代入-->
<%= link_to following_user_path(@user) do%>
  <div class="profile_follow_block">
      <p>フォロー中</p>
      <p id="profile_follow_num"><%= @user.following.count %></p>
  </div>
<% end %>
<%= link_to followers_user_path(@user) do%>
  <div class="profile_follower_block">
      <p>フォロワー</p>
      <p id="followers"><%= @user.followers.count %></p>
  </div>
<% end %>