// このファイルに書いたcssは全てのファイルに影響する。

@import "bootstrap-sprockets";
@import "bootstrap";



@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*スマートフォン*/
@media screen and (min-width:0px) {
  .search_container {
    height: 30px;
    width: 130px;
    padding: 2px 5px;
  }
  .login {
    width: 80px;
  }
  .fa-home {
    width: 35px;
  }
  .fa-globe {
    width: 35px;
  }
  .fa-plus-square {
    width: 35px;
  }
  .fa-heart {
    width: 35px;
  }
  .fa-comment {
    width: 35px;
  }
  .header-menu ul li {
    font-size: 5px;
    margin: 1px;
  }
}



/* pc全画面 */
@media screen and (min-width:1279px) {
  .search_container {
    width: 215px;
    height: 30px;
    padding: 3px 15px;
  }
  .login {
    width: 100px;
  }
  .fa-home {
    width: 40px;
  }
  .fa-globe {
    width: 40px;
  }
  .fa-plus-square {
    width: 40px;
  }
  .fa-heart {
    width: 40px;
  }
  .fa-comment {
    width: 40px;
  }
  .header-menu ul li { 
    margin: 20px;
  }
}

/* pc3/4画面 */
@media screen and (min-width:960px) and (max-width:1279px) {
  .search_container {
    width: 350px;
    height: 30px;
    padding: 3px 15px;
  }
  .login {
    width: 100px;
  }
  .fa-home {
    width: 50px;
  }
  .fa-globe {
    width: 45px;
  }
  .fa-plus-square {
    width: 45px;
  }
  .fa-heart {
    width: 50px;
  }
  .fa-comment {
    width: 50px;
  }
  .header-menu ul li { 
    margin: 10px;
  }
}

/*タブレット pc半画面*/
@media screen and (min-width:600px) and (max-width:959px) {
  .search_container {
    height: 30px;
    width: 240px;
    padding: 2px 5px;
  }
  .login {
    width: 100px;
  }
  .fa-home {
    width: 50px;
  }
  .fa-globe {
    width: 45px;
  }
  .fa-plus-square {
    width: 45px;
  }
  .fa-heart {
    width: 50px;
  }
  .fa-comment {
    width: 50px;
  }
  .header-menu ul li { 
    margin: 10px;
  }
}


/*480px〜599px　pc1/3画面*/
@media screen and (min-width:480px) and (max-width:599px) { 
  .search_container {
    height: 30px;
    width: 130px;
    padding: 2px 5px;
  }
  .login {
    width: 80px;
  }
  .fa-home {
    width: 35px;
  }
  .fa-globe {
    width: 35px;
  }
  .fa-plus-square {
    width: 35px;
  }
  .fa-heart {
    width: 35px;
  }
  .fa-comment {
    width: 35px;
  }
  .header-menu ul li { 
    font-size: 5px;
    margin: 1px;
  }
}


// header_css
body {
  width: 1000px;
  margin: 0 auto;
  padding: 0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
}
.header {
  z-index:9999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  background: white;
  border-bottom: 1px solid rgb(202, 202, 200);

  /* ホーム */
.fa-home {
  text-align: center;
  color: black;
  padding-top: 25px;
}

/* 地球 */
.fa-globe {
  text-align: center;
  height: 100%;
  color: #000;
  padding-top: 25px;
}

/* 追加 */
.fa-plus-square {
  text-align: center;
  height: 100%;
  color: #000;
  padding-top: 25px;
}

/* ハート */
.fa-heart {
  text-align: center;
  height: 100%;
  color: black;
  padding-top: 25px;
}

/* コメント */
.fa-comment {
  text-align: center;
  height: 100%;
  color: black;
  padding-top: 25px;
}

}
.header-main-div{
  display: flex;
  width: 1000px;
  margin: 0 auto;
}
.header span img{
  margin-top: 15px;
}

/* タイトル */
.title {
  padding-top: 5px;
  color: rgb(245, 243, 108);
}

/*　検索欄　*/
.search_container{
  box-sizing: border-box;
  position: relative;
  border: 1px solid #cccccc;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 20px;
  margin-left: 350px;
  border-radius: 3px;
}
.search_container input[type="search"]{
  border: none;
}
.search_container input[type="search"]:focus {
  outline: 0;
}

/* ログイン */
.login {
  text-align: center;
  color: black;
  text-decoration: none;
  padding-top: 22px;
}
.login:hover {
  background: rgb(202, 202, 200);
}

// table_css
.show-things-div{
  display: flex;
  flex-wrap :wrap;
}
.static_pages-div-main{
  border-top: 6px solid #eeeeee;
}

.home-things-div{
  width: 100%;
  display: flex;
  flex-wrap :wrap;
  justify-content: space-between;
  margin-top: 20px;
  &::after{
    content:"";
    display: block;
    width:33%;
  }
}
table{
  margin-left: 15px;
  margin-bottom: 10px;
}

// 全ページcss
a{
  color: black;
}

//ログインしてないhome
.home-image{
  width: 100%;
  // opacity: 2;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
//flash位置調整
.flash-css{
  margin-top: 60px;
  width: 100%;
}
.alert{
  width: 100%;
  position: fixed;
  left: 0;
  top: 60;
  z-index:9999;
  margin-bottom: 0px;
  text-align: center;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

// アイコン画像css
.mini-icon-image img{
  border-radius: 20px;
  border-radius: 50%;
  border: 2px solid #cccccc;
}
.icon-image-user-name a{
  text-decoration: none;
}

//home index div
// #con {
//   // background-image: url('/assets/home-image4.jpg');
//   // background-size: contain;
//   width: 1200px;
//   margin-top: 60px;
//   margin-left: 5px;
//   height: 100%;
//   min-height: 100vh;
//   box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
//   h1{
//     font-family: "Lato", "Noto Sans JP", "ヒラギノ角ゴ ProN",
//           "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
//           "MS PGothic", sans-serif;
//           text-align: center;
//   }
// }
.static-content-div{
  margin-top: 60px;
  margin-left: 5px;
  h1{
    font-family: "Lato", "Noto Sans JP", "ヒラギノ角ゴ ProN",
          "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
          "MS PGothic", sans-serif;
          text-align: center;
          font-size: 4vmax;
          margin: 0;
  }
  h3{
    padding-left: 20px;
    font-size: 3vmax;
    margin: 0;
  }
}

//絞り込みcss
.static_pages-div-main{
  display: flex;
}
.side{
  width: 220px;
  padding: 20px 0 0 0;
  border-right: solid #eeeeee 6px;
  .side-menu-inner {
    padding-left: 10px;
    // overflow-y: auto;
    ul{
      list-style-type: none;
      li {
         width: 100%;
         height: 30px;
        line-height: 45px;
         font-size: 12px;
        a {
          color: #333;
          text-decoration: none;
          padding-bottom: 2px;
          // border-bottom: 1px rgb(161, 160, 160) solid;
       }
      }
    }
  }
}





//---------------------------------------------------------------------------------------
// staticコントローラーのcss
.static_pages{
  .login-modal-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    display: none;
  }
}
//ログインページ
.sessions{
  .login-modal-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
  }
}

.login-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.modal1 {
  position: absolute;
  top: 20%;
  left: 36%;
  background-color: white;
  padding: 20px 20px 10px 40px;
  border-radius: 10px;
  width: 400px;
  height: auto;
  text-align: center;
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
}

.fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgba(128, 128, 128, 0.4);
  cursor: pointer;
}
#top-form-item {
  margin-top: 60px;
  margin-bottom: 30px;
}
#signup-form, #login-form {
  width: 100%;
  margin-bottom: 50px;
}
#signup-form input, #login-form input {
  width: 320px;
  margin-bottom: 20px;
  font-size: 12px;
  padding: 12px 12px;
  border-radius: 12px;
  background: white;
  border: none;
  border: 2px solid #bbb;
  color: #1d1d1d;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}
#login-form input:focus {
  border: 2px solid #74b9ff;
  outline: 0;
}
#submit-btn {
  display: inline-block !important;
  width: 200px !important;
  padding: 15px 30px !important;
  background-color: #1d1d1d !important;
  border: 2px solid #1d1d1d !important;
  border-radius: 45px !important;
  color: white !important;
  margin: 10px 20px 10px 0px !important;
  cursor: pointer !important;
}
#submit-btn:hover{
  border: 2px solid #74b9ff !important;
  color : #74b9ff !important;
  transition: 0.7s !important;
}
.fa-times:hover{
  color: red;
  transition: 0.5s ;
}
div.form-item{position: relative; display: block; margin-bottom: 40px;}
input{transition: all .2s ease;}
div.form-item .form-control:focus{outline: none; border:1px solid #74b9ff; color:#74b9ff; }
.formLabel {
  position: absolute;
  left:12px;
  top:15px;
  transition:all .3s ease;
  color:#bbb;
  font-size: 13px;
}
.formTop{top:-10px !important; left:26px; background-color: white; padding:0 5px; font-size: 14px; color:#74b9ff !important;}
.formStatus{color:#8a8a8a !important;}

.formCheckBox{
  position: absolute;
  top: 220px;
  right:150px;
  p{
    width: 300px;
    position: absolute;
    top:0px;
    left:130px;
  }
}
.formSinkiBtn{
  position: absolute;
  left:130px;
  bottom: 19px;
}

//--------------------------------------------------------------------------------------------



.users{
  .stats {
    overflow: auto;
    margin-top: 0;
    padding: 0;
    a {
      float: left;
      padding: 0 10px;
      border-left: 1px solid $gray-lighter;
      color: gray;
      &:first-child {
        padding-left: 0;
        border: 0;
      }
      &:hover {
        text-decoration: none;
        color: blue;
      }
    }
    strong {
      display: block;
    }
  }

  .user_avatars {
    overflow: auto;
    margin-top: 10px;
    .gravatar {
      margin: 1px 1px;
    }
    a {
      padding: 0;
    }
  }

  .users.follow {
    padding: 0;
  }

}

.things{
  .thing-show-div {
    padding-top: 20px;
    padding-bottom: 40px;
    height: 100vh;
    // position: fixed;
    // top: 20px;
    width: 1000px;
    .content {
      background: #fff;
      // left: 30%;
      // position: absolute;
      // top: 50%;
      // transform: translate(-50%, -50%);
      width: 950px;
      margin: 0 auto;
      height: 100%;
      // filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.2));
      border-radius: 3px;
      display: flex;
      border: 1px solid #cccccc;
      .main_box {
        height: 100%;
        width: 55%;
        padding-bottom: 10px;
        .post_user_box {
          height: 10%;
          display: flex;
          justify-content: center;
          border-right: 1px solid #ccc;
          .post_user_icon_block {
            height: 50px;
            width: 50px;
            img {
              margin-top: 10px;
              width: 100%;
              border-radius: 50%;
              border: 2px solid #cccccc;
            }
            margin-right: 10px;
          }
          .post_user_name_block {
            p {
              width: 300px;
              margin-top: 20px;
              // padding-right: 100px;
              font-weight: bolder;
              font-size: 15px;
              line-height: 30px;
              font-family: "Lato", "Noto Sans JP", "ヒラギノ角ゴ ProN",
                "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
                "MS PGothic", sans-serif;
            }
          }
          .post_user_followbtn_block {
            .post_follow_button {
              margin-top: 25px;
              margin-left: 30px;
              border: none;
              display: inline-block;
              font-weight: bold;
              text-decoration: none;
              color: #55efc4;
              background-color: transparent;
              font-size: 1em;
              line-height: 25px;
              font-family: "Lato", "Noto Sans JP", "ヒラギノ角ゴ ProN",
                "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
                "MS PGothic", sans-serif;
              &:focus {
                outline: 0;
                color: rgba($color: #55efc4, $alpha: 0.6);
              }
            }
          }
        }
        .post_img_box {
          height: 70%;
          width: 100%;
          border-top: solid 1px #cccccc;
          border-bottom: solid 1px #cccccc;
          img {
            margin: auto;
            width: 100%;
            height: 100%;
          }
        }
        .footer {
          height: 19%;
          display: block;
          width: 100%;
          border-right: #cccccc solid 1px;
          .post_footer_menu {
            height: 20%;
            display: flex;
            .keep-thing-show{
              position: relative;
              margin-top: 5px;
              right: -95px;
            }
            .star-rating {
              position: relative;
              margin-left: 4%;
              .rate{
                font-size: 20px;
                width: 110px;
                height: 20px;
              }
              .rate::before,
              .rate::after{
              content: '★★★★★';
              }
              .rate::before{
              color: #ccc;
              }
              .rate::after{
              position: absolute;
              left:0;
              top:0;
              color: #f3d680;
              overflow: hidden;
              }
              .rate.rate0::after{
              width: 0;
              }
              .rate.rate1::after{
              width: 1em;
              }
              .rate.rate1-5::after{
              width: 1.5em;
              }
              .rate.rate2::after{
              width: 2em;
              }
              .rate.rate2-5::after{
              width: 2.5em;
              }
              .rate.rate3::after{
              width: 3em;
              }
              .rate.rate3-5::after{
              width: 3.5em;
              }
              .rate.rate4::after{
              width: 4em;
              }
              .rate.rate4-5::after{
              width: 4.5em;
              }
              .rate.rate5::after{
              width: 5em;
              }
            }
            .post_like_box {
              margin-top: 5px;
              margin-left: 260px;
              .fa{
                font-size: 25px;
              }
              .like-btn-unlike{
                color: #f8a5c2;
              }
              .like-btn{
                color: #ccc;
              }
              .like-count{
                position: relative;
                top: -20px;
                left: 30px;
              }
              button{
                position: absolute;
              }
            }
          }
          .post_text_box {
            height: 80%;
            overflow: auto;
            margin: 10px;
            width: 95%;
            p {
              text-align: center;
              font-weight: bolder;
              font-size: 12px;
              line-height: 30px;
              font-family: "Lato", "Noto Sans JP", "ヒラギノ角ゴ ProN",
                "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
                "MS PGothic", sans-serif;
            }
          }
        }
      }
    
      .post_comment_main {
        width: 45%;
        .thing-syousai-div{
          height: 20%;
          div{
            margin-top: 15px;
            margin-left: 20px;
            p{
              font-size: 18px;
              font-family: "Lato", "Noto Sans JP", "ヒラギノ角ゴ ProN",
                "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
                "MS PGothic", sans-serif;
            }
          }
        }
        .post_comment_post_box {
          height: 10%;
          border-top: 1px solid #cccccc;
          border-bottom: 1px solid #cccccc;
          .post_comment_post_user_icon_block {
            height: 50px;
            width: 50px;
            margin: auto;
            img {
              margin: 0 20px;
              height: 50px;
              width: 50px;
              border-radius: 50%;
              border: 2px solid #cccccc;
            }
          }
          form {
            height: 100%;
            display: flex;
            .post_button {
              border: none;
              display: inline-block;
              font-weight: bold;
              text-decoration: none;
              color: #55efc4;
              margin: auto;
              background-color: transparent;
              font-size: 1em;
              line-height: 25px;
              font-family: "Lato", "Noto Sans JP", "ヒラギノ角ゴ ProN",
                "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
                "MS PGothic", sans-serif;
              &:focus {
                outline: 0;
                color: rgba($color: #55efc4, $alpha: 0.6);
              }
            }
          }
          textarea {
            outline: none;
            width: 1000px;
            height: 80%;
            margin-top: 10px;
            margin-left: 40px;
            resize: none;
            border: none;
            font-size: 15px;
            line-height: 25px;
            font-family: "Lato", "Noto Sans JP", "ヒラギノ角ゴ ProN",
              "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
              "MS PGothic", sans-serif;
          }
        }
        .post_comment_box {
          height: 84%;
          overflow: auto;
          .post_comment_block {
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
            width: 420px;
            height: auto;
            .post_comment_user_box {
              display: flex;
              .post_comment_user_icon_block {
                height: 60px;
                width: 60px;
                img {
                  height: 50px;
                  width: 50px;
                  border-radius: 50%;
                  border: 2px solid #cccccc;
                }
                margin-right: 10px;
              }
              .post_comment_body {
                display: block;
                .post_comment_user_name_block {
                  display: flex;
                  p {
                    font-weight: bolder;
                    font-size: 15px;
                    line-height: 20px;
                    font-family: "Lato", "Noto Sans JP", "ヒラギノ角ゴ ProN",
                      "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo,
                      "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                  }
                  .post_comment_time {
                    font-size: 13px;
                    color: #cccccc;
                  }
                }
                .post_comment_main {
                  width: auto;
                  font-size: 14px;
                  font-family: "Lato", "Noto Sans JP", "ヒラギノ角ゴ ProN",
                    "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo,
                    "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                    p{margin-bottom: 5px;}
                }
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 1000px) {
    .content {
      height: 90%;
      overflow: auto;
      width: 500px;
      display: block;
      &::-webkit-scrollbar {
        width: 10px;
      }
      &::-webkit-scrollbar-track {
        background: #fff;
        border: none;
        border-radius: 0 10px 10px 0;
        box-shadow: inset 0 0 2px #777;
      }
      &::-webkit-scrollbar-thumb {
        background: #ccc;
        border-radius: 0 10px 10px 0;
        border: none;
      }
      .main_box {
        height: 100%;
        width: 100%;
        .post_img_box {
          height: 60%;
          width: 100%;
        }
        .post_user_box {
          border: none;
        }
        .footer {
          height: 25%;
          .post_text_box {
            width: 450px;
            margin: auto;
          }
        }
      }
      .post_comment_main {
        height: auto;
        width: 100%;
        margin: auto;
        .post_comment_post_box {
          border: 0px;
          border-top: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
        }
      }
    }
  }
  
}


//--------------------------------modal-profile(k)-----------------------------------------


.profile-thing{
  width: 65%;
  float: right;
  margin-right: 0;
}

.user-profile {
  top: 0;
  width: 1000px;
  .modal__bg {
    height: 100vh;
    width: 100%;
  }

  .modal__content {
    background: #fff;
    padding: 30px 0 40px 0;
    width: 1000px;
    height: 100%;
    // filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
    box-shadow: 0 -10px 5px -3px rgba(0,0,0,0.5);

    .profile_top{
      width: 900px;
      display: flex;
      margin: 0 auto;
    }
    .profile_img_block{
      width: 40%;
    }
    .profile_img_block img {
      width: 300px;
      height: 300px;
      display: block;
      border: 3px solid #cccccc;
    }
    .profile_header {
      position: relative;
      width: 50%;
      .profile_name_block{
        p {
          font-family: "Lato", "Noto Sans JP", "ヒラギノ角ゴ ProN",
          "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
          "MS PGothic", sans-serif;
          text-align: center;
        }
        #profile_name {
          padding-top: 9px;
          font-weight: bolder;
          font-size: 30px;
          line-height: 30px;
        }
        #profile_user_name {
          font-size:25px;
          color: #cccccc;
        }
      }

      #profile_comment {
        text-align: center;
        word-wrap: break-word;
        font-size: 16px;
        padding: 12px;
        // border: 3px solid #cccccc;
        border-radius: 20px;
      }
      .profile-comment-div{
        margin: 10px auto;
        word-wrap: break-word;
      }

      .profile_follow_block{
        position: absolute;
        top: 12px;
        left: -10px;
        color: black;
        p{
          font-family: "Lato", "Noto Sans JP", "ヒラギノ角ゴ ProN",
          "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
          "MS PGothic", sans-serif;
          text-align: center;
        }
      }
      .profile_follower_block{
        p{
          font-family: "Lato", "Noto Sans JP", "ヒラギノ角ゴ ProN",
          "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
          "MS PGothic", sans-serif;
          text-align: center;
        }
      }

      .profile_follower_block {
        position: absolute;
        top: 12px;
        right: -10px;
        color: black;
        p{
          font-family: "Lato", "Noto Sans JP", "ヒラギノ角ゴ ProN",
          "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
          "MS PGothic", sans-serif;
        }
        #profile_follower_num {
          text-align: center;
        }
      }
    }

    .profile_body{
      width: 100%;
      .settei-btn{
        margin: 20px;
        padding: 20px;
        .fa-cog {
          position: absolute;
          top: 70px;
          right: -40px;
          color: rgba(128, 128, 128, 0.4);
          cursor: pointer;
          &:hover {
            color: #36b4c7;
            transition: 0.5s;
            transition: all 0.35s ease-in-out 0.2s;
          }
        }
      }
      .profile_button-wrapper {
        display: inline-block;
        margin: 20px 5px;
        padding: 40px;
      }
      .profile_button {
        font-family: "Lato", "Noto Sans JP", "ヒラギノ角ゴ ProN",
          "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
          "MS PGothic", sans-serif;
        background: #1d1d1d;
        border: none;
        padding: 2px;
        cursor: pointer;
        display: block;
        position: relative;
        overflow: hidden;
        transition: all 0.35s ease-in-out 0.35s;
        margin: 0 auto;
        width: 150px;
        text-align: center;
        span {
          display: block;
          padding: 15px 30px;
          background: #fff;
          z-index: 100;
          position: relative;
          transition: all 0.35s ease-in-out 0.35s;
         }
      }
    }
  }
}
.user-show-main{
  width: 900px;
  margin: 0 auto;
  .user-main-tag{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: solid #ddd 1px;
    border-bottom: solid #ddd 1px;
    span{
      font-size: 20px;
      text-align: center;
      width: 100px;
    }
    a{
      width: 100px;
      text-align: center;
      &:hover{
        color: #000;
        text-decoration: none;
      }
    }
    .now-tag{
      border-bottom: black 1px solid;
    }
    .like_tag{
      width: 100px;
    }
  }
}
//-----------------------------------------------------------------------
.follow-user-name-h1{
  color: black;
  text-align: center;
}
.follow-show{
  margin: 0;
  width: 500px;
  margin: 0 auto;
  .follow-midasi{
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
    text-align: center;
    border-bottom: #cccccc solid 1px;
  }
  .follow-div{
    margin: 0 auto;
    width: 100%;
    height: 600px;
    color: black;
    overflow: scroll;
    .follow-user-div{
      border-bottom: #cccccc solid 1px;
      margin-top: 5px;
      .follow-user-div-header{
        display: flex;
        .follow-button{
          margin-left: auto;
        }
        .follow-user-div-user{
          display: flex;
          .follow-profile-image{
            display: block;
            width: 50px;
            margin-right: 10px;
            img{
              display: block;
              border-radius: 50%;
              border: 3px solid #cccccc;
            }
          }
          div{
            margin-top: 5px;
            p{
              margin : 0;
            }
            .follow-user-name{
              font-size: 12px;
              color: #cccccc;
            }
          }
        }
    }
      .follow-profile-comment{
        margin-left: 60px;
        word-wrap: break-word;
      }
    }
  }
}




.star-heart{
  display: flex;
}
.star-rating {
  position: relative;
  margin-left: 4%;
  .rate{
    font-size: 20px;
    width: 110px;
    height: 20px;
  }
  .rate::before,
  .rate::after{
  content: '★★★★★';
  }
  .rate::before{
  color: #ccc;
  }
  .rate::after{
  position: absolute;
  left:0;
  top:0;
  color: #f3d680;
  overflow: hidden;
  }
  .rate.rate0::after{
  width: 0;
  }
  .rate.rate0-5::after{
  width: 0.5em;
  }
  .rate.rate1::after{
  width: 1em;
  }
  .rate.rate1-5::after{
  width: 1.5em;
  }
  .rate.rate2::after{
  width: 2em;
  }
  .rate.rate2-5::after{
  width: 2.5em;
  }
  .rate.rate3::after{
  width: 3em;
  }
  .rate.rate3-5::after{
  width: 3.5em;
  }
  .rate.rate4::after{
  width: 4em;
  }
  .rate.rate4-5::after{
  width: 4.5em;
  }
  .rate.rate5::after{
  width: 5em;
  }
}

.post_like_box {
  margin-top: 5px;
  margin-left: 67%;
  .fa{
    font-size: 25px;
  }
  .like-btn{
    color: #ccc;
  }
  .like-count{
    position: relative;
    top: -20px;
    left: 30px;
  }
}
.like{
.like-color{
  color: #f8a5c2;
}
.button-like{
    margin-left: 60px;
    border: none;  /* 枠線を消す */
    outline: none; /* クリックしたときに表示される枠線を消す */
    background: transparent; /* 背景の灰色を消す */
    font-size: 20px;
    &:hover{
      //ボタンをホバーしたときの色を消す
      background-color: #fff;
    }
    &:focus {
      //ボタンを押したときの青色を消す
      outline: none !important;
      background-color: #fff;
    }
}
.likes-count{
  font-size: 13px;
  position: absolute;
  top:10px;
}
}
.keep{
  .button-keep{
    margin-left: 0px;
    border: none;  /* 枠線を消す */
    outline: none; /* クリックしたときに表示される枠線を消す */
    background: transparent; /* 背景の灰色を消す */
    font-size: 20px;
    &:hover{
      //ボタンをホバーしたときの色を消す
      background-color: #fff;
    }
    &:focus {
      //ボタンを押したときの青色を消す
      outline: none !important;
      background-color: #fff;
    }
    .glyphicon-bookmark-empty{
      color: #ccc;
    }
    .keep-color{
      color: rgb(142, 250, 0);
    }
  }
}

