// このファイルに書いたcssは全てのファイルに影響する。

@import "bootstrap-sprockets";
@import "bootstrap";



@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* pc全画面 */
@media screen and (min-width:1279px) {
  .title {
    padding-left: 50px;
  }
  .search_container {
    width: 350px;
    height: 30px;
    padding: 3px 15px;
  }
  .login {
    width: 100px;
  }
  .fa-home {
    width: 50px;
  }
  .fa-globe {
    width: 45px;
  }
  .fa-plus-square {
    width: 45px;
  }
  .fa-heart {
    width: 50px;
  }
  .fa-comment {
    width: 50px;
  }
  .header-menu ul li { 
    margin: 20px;
  }
}

/* pc3/4画面 */
@media screen and (min-width:960px) and (max-width:1279px) {
  .title {
    padding-left: 40px;
  }
  .search_container {
    width: 350px;
    height: 30px;
    padding: 3px 15px;
  }
  .login {
    width: 100px;
  }
  .fa-home {
    width: 50px;
  }
  .fa-globe {
    width: 45px;
  }
  .fa-plus-square {
    width: 45px;
  }
  .fa-heart {
    width: 50px;
  }
  .fa-comment {
    width: 50px;
  }
  .header-menu ul li { 
    margin: 10px;
  }
}

/*タブレット pc半画面*/
@media screen and (min-width:600px) and (max-width:959px) {
  .title {
    padding-left: 30px;
  }
  .search_container {
    height: 30px;
    width: 240px;
    padding: 2px 5px;
  }
  .login {
    width: 100px;
  }
  .fa-home {
    width: 50px;
  }
  .fa-globe {
    width: 45px;
  }
  .fa-plus-square {
    width: 45px;
  }
  .fa-heart {
    width: 50px;
  }
  .fa-comment {
    width: 50px;
  }
  .header-menu ul li { 
    margin: 10px;
  }
}


/*480px〜599px　pc1/3画面*/
@media screen and (min-width:480px) and (max-width:599px) { 
  .title {
    padding-left: 20px;
  }
  .search_container {
    height: 30px;
    width: 130px;
    padding: 2px 5px;
  }
  .login {
    width: 80px;
  }
  .fa-home {
    width: 35px;
  }
  .fa-globe {
    width: 35px;
  }
  .fa-plus-square {
    width: 35px;
  }
  .fa-heart {
    width: 35px;
  }
  .fa-comment {
    width: 35px;
  }
  .header-menu ul li { 
    font-size: 5px;
    margin: 1px;
  }
}

/*スマートフォン*/
@media screen and (max-width:479px) { 
  .title {
    padding-left: 20px;
  }
  .search_container {
    height: 30px;
    width: 130px;
    padding: 2px 5px;
  }
  .login {
    width: 80px;
  }
  .fa-home {
    width: 35px;
  }
  .fa-globe {
    width: 35px;
  }
  .fa-plus-square {
    width: 35px;
  }
  .fa-heart {
    width: 35px;
  }
  .fa-comment {
    width: 35px;
    margin-right: 10px;
  }
  .header-menu ul li { 
    font-size: 5px;
    margin: 1px;
  }
}

// header_css
body {
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  letter-spacing : 0.2em;
}
.header {
  z-index:9999;
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  background: white;
  border-bottom: 1px solid rgb(202, 202, 200);
}
.header span img{
  margin-right: 20px;
  margin-top: 15px;
}

/* タイトル */
.title {
  padding-top: 5px;
  color: rgb(245, 243, 108);
}

/*　検索欄　*/
.search_container{
  box-sizing: border-box;
  position: relative;
  border: 1px solid #999;
  overflow: hidden;
  background: white;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 20px;
}
.search_container input[type="search"]{
  border: none;
}
.search_container input[type="search"]:focus {
  outline: 0;
}

/* ログイン */
.login {
  text-align: center;
  color: black;
  text-decoration: none;
  padding-top: 22px;
}
.login:hover {
  background: rgb(202, 202, 200);
}
/* ホーム */
.fa-home {
  text-align: center;
  color: black;
  padding-top: 25px;
}
.home-link:hover {
  background:rgb(202, 202, 200);
}
/* 地球 */
.fa-globe {
  text-align: center;
  height: 100%;
  color: #000;
  padding-top: 25px;
}
.fa-globe:hover {
  background: rgb(202, 202, 200);
}
/* 追加 */
.fa-plus-square {
  text-align: center;
  height: 100%;
  color: #000;
  padding-top: 25px;
}
.fa-plus-square:hover {
  background: rgb(202,202,200);
}
/* ハート */
.fa-heart {
  text-align: center;
  height: 100%;
  color: black;
  padding-top: 25px;
}
.fa-heart:hover {
  background: rgb(202, 202, 200);
}
/* コメント */
.fa-comment {
  text-align: center;
  height: 100%;
  color: black;
  padding-top: 25px;
}
.fa-comment:hover {
  background: rgb(202, 202, 200);
}

// table_css

.home-things-div{
  display: flex;
  flex-wrap :wrap;
}
table{
  margin-left: 15px;
  margin-bottom: 10px;
}

// 全ページcss

//ログインしてないhome
.home-image{
  width: 100%;
  // opacity: 2;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
//flash位置調整
.flash-css{
  margin-top: 60px;
}
.alert{
  z-index:9999;
  margin-bottom: 0px;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

// アイコン画像css
.mini-icon-image img{
  border-radius: 20px;
}
.icon-image-user-name a{
  text-decoration: none;
}

//home index div
#con {
  // background-image: url('/assets/home-image4.jpg');
  // background-size: contain;
  width: 1200px;
  margin-top: 60px;
  margin-left: 5px;
  height: 100%;
  min-height: 100vh;
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

//絞り込みcss
.side-menu {
  // margin-top: 20px;
  position: fixed;
  left: -200px;
  width: 215px;
  height: 100%;
  padding: 20px 0 0 0;
  background: rgb(202, 202, 200);
  .side-menu-inner {
    padding-left: 20px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    ul{
      list-style-type: none;
      li {
         width: 100%;
         height: 30px;
        line-height: 45px;
         font-size: 12px;
        a {
          color: #333;
          text-decoration: none;
          padding-bottom: 2px;
          border-bottom: 1px rgb(161, 160, 160) solid;
       }
      }
    }
  }
}





//---------------------------------------------------------------------------------------
// staticコントローラーのcss
.static_pages{
  .login-modal-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    display: none;
  }
}
//ログインページ
.sessions{
  .login-modal-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
  }
}

.modal1 {
  position: absolute;
  top: 20%;
  left: 36%;
  background-color: white;
  padding: 20px 20px 10px 40px;
  border-radius: 10px;
  width: 400px;
  height: auto;
  text-align: center;
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
}

.fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgba(128, 128, 128, 0.4);
  cursor: pointer;
}
#top-form-item {
  margin-top: 60px;
  margin-bottom: 30px;
}
#signup-form, #login-form {
  width: 100%;
  margin-bottom: 50px;
}
#signup-form input, #login-form input {
  width: 320px;
  margin-bottom: 20px;
  font-size: 12px;
  padding: 12px 12px;
  border-radius: 12px;
  background: white;
  border: none;
  border: 2px solid #bbb;
  color: #1d1d1d;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}
#login-form input:focus {
  border: 2px solid #74b9ff;
  outline: 0;
}
#submit-btn {
  display: inline-block !important;
  width: 200px !important;
  padding: 15px 30px !important;
  background-color: #1d1d1d !important;
  border: 2px solid #1d1d1d !important;
  border-radius: 45px !important;
  color: white !important;
  margin: 10px 20px 10px 0px !important;
  cursor: pointer !important;
}
#submit-btn:hover{
  border: 2px solid #74b9ff !important;
  color : #74b9ff !important;
  transition: 0.7s !important;
}
.fa-times:hover{
  color: red;
  transition: 0.5s ;
}
div.form-item{position: relative; display: block; margin-bottom: 40px;}
input{transition: all .2s ease;}
div.form-item .form-control:focus{outline: none; border:1px solid #74b9ff; color:#74b9ff; }
.formLabel {
  position: absolute;
  left:12px;
  top:15px;
  transition:all .3s ease;
  color:#bbb;
  font-size: 13px;
}
.formTop{top:-10px !important; left:26px; background-color: white; padding:0 5px; font-size: 14px; color:#74b9ff !important;}
.formStatus{color:#8a8a8a !important;}

.formCheckBox{
  position: absolute;
  top: 220px;
  right:150px;
  p{
    width: 300px;
    position: absolute;
    top:0px;
    left:130px;
  }
}
.formSinkiBtn{
  position: absolute;
  left:130px;
  bottom: 19px;
}

//--------------------------------------------------------------------------------------------



.users{
  .stats {
    overflow: auto;
    margin-top: 0;
    padding: 0;
    a {
      float: left;
      padding: 0 10px;
      border-left: 1px solid $gray-lighter;
      color: gray;
      &:first-child {
        padding-left: 0;
        border: 0;
      }
      &:hover {
        text-decoration: none;
        color: blue;
      }
    }
    strong {
      display: block;
    }
  }

  .user_avatars {
    overflow: auto;
    margin-top: 10px;
    .gravatar {
      margin: 1px 1px;
    }
    a {
      padding: 0;
    }
  }

  .users.follow {
    padding: 0;
  }

  .btn{
    width: 30%;
  }
}

.things{
  .thing-show-div{
    text-align: center;
  }
  .thing-show-table{
    margin-left: auto;
    margin-right: auto;
  }
  .home-things-div{
    display: flex;
    flex-wrap :wrap;
  }
  table{
    margin-right: 10px;
    margin-bottom: 10px;
  }
  h3{
    color:rgb(21, 182, 21);
  }
  .thing-form-div{
    width:400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
  .like-btn {
    color: #8899A6;
  }
  .like-btn-unlike {
    color: #FF2581;
  }
}


//--------------------------------modal-profile(k)-----------------------------------------
.modal-profile {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;

  .modal__bg {
    background: rgba(0, 0, 0, 0.4);
    height: 100vh;
    position: absolute;
    width: 100%;
  }

  .modal__content {

    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 85%;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.2));
    border-radius: 10px;
    margin-top: 25px;

    .profile_img_block img {
      width: 45%;
      height: 45%;
      display: block;
      margin: auto;
      border-radius: 50%;
      border: 3px solid #cccccc;
    }

    .js-modal-close-profile{
      .fa-times {
        position: absolute;
        top: 12px;
        right: 12px;
        color: rgba(128, 128, 128, 0.4);
        cursor: pointer;
        &:hover{
          color: red;
          transition: 0.5s;
        }
      }
    }

    .profile_header {
      position: relative;
      height: 100px;
      width: 100%;

      .profile_name_block{
        p {
          font-family: "Lato", "Noto Sans JP", "ヒラギノ角ゴ ProN",
          "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
          "MS PGothic", sans-serif;
          text-align: center;
        }
        #profile_name {
          padding-top: 9px;
          font-weight: bolder;
          font-size: 20px;
          line-height: 30px;
        }
        #profile_user_name {
          color: #cccccc;
        }
      }

      .profile_follow_block {
        position: absolute;
        top: 12px;
        left: 5px;
        p{
          font-family: "Lato", "Noto Sans JP", "ヒラギノ角ゴ ProN",
          "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
          "MS PGothic", sans-serif;
        }
        #profile_follow_num {
          text-align: center;
        }
      }

      .profile_follower_block {
        position: absolute;
        top: 12px;
        right: 5px;
        p{
          font-family: "Lato", "Noto Sans JP", "ヒラギノ角ゴ ProN",
          "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
          "MS PGothic", sans-serif;
        }
        #profile_follower_num {
          text-align: center;
        }
      }
    }

    .profile_body{
      position: relative;
      height: 100%;
      width: 100%;
      .profile_button-wrapper {
        display: inline-block;
        margin: 20px 5px;
        padding: 40px;
      }
      .profile_button {
        font-family: "Lato", "Noto Sans JP", "ヒラギノ角ゴ ProN",
          "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
          "MS PGothic", sans-serif;
        background: #1d1d1d;
        border: none;
        padding: 2px;
        cursor: pointer;
        display: block;
        position: relative;
        overflow: hidden;
        transition: all 0.35s ease-in-out 0.35s;
        margin: 0 auto;
        width: 150px;
        text-align: center;
        span {
          display: block;
          padding: 15px 30px;
          background: #fff;
          z-index: 100;
          position: relative;
          transition: all 0.35s ease-in-out 0.35s;
        }
        &:hover span {
          background: #36b4c7;
          color: #fff;
          transition: all 0.35s ease-in-out 0.35s;
        }
        &:hover:after {
          right: 0;
          bottom: 0;
          transition: all ease-in-out 0.35s;
        }
        &:before {
          top: -100%;
          left: -100%;
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          background: #36b4c7;
          transition: all 0.35s ease-in-out 0.5s;
        }
        &:hover:before {
          left: 0;
          top: 0;
          transition: all ease-in-out 0.35s;
        }
      }
      .fa-cog {
        /* display: none; */
        position: absolute;
        top: 12px;
        right: 12px;
        color: rgba(128, 128, 128, 0.4);
        cursor: pointer;
        &:hover {
          color: #36b4c7;
          transition: 0.5s;
          transition: all 0.35s ease-in-out 0.2s;
        }
      }
      #profile_comment {
        margin-top: 30px;
        text-align: center;
        word-wrap: break-word;
      }
    }

  }

}
//-----------------------------------------------------------------------------------







